

.app-template{
	th.large-6.last {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.left-sidebar{
		padding:20px !important;
		th{
			a{
				font-size: 13px;
    			padding: 0 4px 0 0;
			}
		}
	}

}