$primary-color:#18c197;

.register-template{
	table.ms-header{
		background:#808080;

		.title-big{font-size:68px;}
		.title-small, .title,
		.title-big{color:$btn-text-color;}

		.title-small{font-weight:bold;}
	}
	table.ms-body{
		background: $primary-color;
		td.large-6.first,
		th.large-6.first{background:$primary-color;padding:0 30px;}
		td.large-6.last,
		th.large-6.last{background:$secondary-color;}

		th.icon-sidebar{
			 p{    
			 	color:$secondary-color;
			    font-weight: bold;
			    font-size: 12px;
			    padding:15px 0;
			}
		}
	}

	table.button{
		width:80%;
	table, td, tr{border-radius:$normal-radius;}
		&:hover table tr td a{
			color:$secondary-color;
		}
		&:hover table td{background:transparent; }


		td{
			border: none;
			background:$primary-color; 
			text-align:center;
			a{
				font-size:15px;
				color:$secondary-color;
				padding:15px 20px;
				font-weight:bold;
			}
		}

		&.btn-send{
			td{
				background:$btn-text-color;
				a{color:$secondary-color;}
			}
		}
	}

}