$primary-color:#e85140;

.password-template{
	table.ms-body,
	table.ms-header{
		background: $primary-color;
		p,.title{color:$secondary-color;}
	}

	table.button{
	table, td, tr{border-radius:$normal-radius;}
		&:hover table tr td a{
			color:$primary-color;
		}
		&:hover table td{background:transparent; }


		td{
			border: none;
			background:$secondary-color; 
			a{
				font-size:14px;
				color:$btn-text-color;
				padding:10px 20px;
			}
		}
	}

}